@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  width:100%;
  height:100vh;
  line-height: 1;
  overflow-x: hidden;
  
}

.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color:#f4f7fc;
}

.logo-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width:150px;
  height:37px;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}
.table-card{
  padding:2rem;
  min-height: 300px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border-radius: 5px 5px 0 0;
  border:none;
  width:100%;
} 

 /* styling for date range picker */
.rs-picker-menu {
  z-index: 999999 !important;
  margin-top:5px;
 }
.date-range-picker{
   width:100%;
 
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn.active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
  border-color: #027ac0 !important;
}

.rs-picker-toolbar-right-btn-ok {
 
  background-color: #027ac0 !important;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  border-color: #027ac0 !important;
  background-color: #027ac0 !important;
}
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  border: 1px solid #027ac0 !important;
}
.rs-calendar-table-cell-content:hover {
  background-color: #027ac0 !important;
}

.rs-calendar-table-cell-in-range::before {
  background-color: #8bc7e92c !important;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: black !important;
}

.react-bootstrap-table-pagination{

  .page-item{
    color: #027ac0 !important;
  }
  .active{
    background-color: #027ac0 !important;
    color:white !important;
  }
}
